<span data-picture data-alt="{{name}}">
    <span data-src="http://www.ucarecdn.com/{{uuid}}/-/scale_crop/120x120/center/{{dashify name}}.jpg"></span>
    <span data-src="http://www.ucarecdn.com/{{uuid}}/-/scale_crop/240x240/center/{{dashify name}}.jpg"
        data-media="(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi)"></span>
    <span data-src="http://www.ucarecdn.com/{{uuid}}/-/scale_crop/479x319/center/{{dashify name}}.jpg"
        data-media="(min-width: 960px)"></span>
    <span data-src="http://www.ucarecdn.com/{{uuid}}/-/scale_crop/958x638/center/{{dashify name}}.jpg"
        data-media="(min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 1.5dppx), (min-width: 960px) and (min-resolution: 144dpi)"></span>
    <noscript><img alt="{{name}}" src="http://www.ucarecdn.com/{{uuid}}/-/scale_crop/120x120/center/{{dashify name}}.jpg"></noscript>
</span>